html, body{
    height: 100%;
}

body{
    color: #212226;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

ul li{
    list-style: none;
}

section{
    background: #fff;
    overflow: hidden;
}

#preloader{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status{
    background-image: url('/assets/images/preloader/preloader.gif');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

#home{
    background: none;
    height: 100%;
}

#home-content{
    display: table;
    width: 100%;
    height: 100%;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}

#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}

#home-heading h1{
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

.home-heading-2 span{
    color: #f4c613;
    font-weight: 500;
}

#home-text p{
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0px 30px 0px;
}

#home-btn .btn-general{
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn-general{
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#home-btn .btn-home{
    color: #fff;
    border: 1px solid #fff;
}

#home-btn .btn-home:hover ,#home-btn .btn-home:focus{
    color: #fff;
    background-color: #f4c613;
    border-color: #f4c613;
}

.btn-yellow{
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;
}

.btn-yellow:hover ,.btn-yellow:focus{
    color: #fff;
    background-color: #212226;
    border-color: #212226;
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover{
    color: #f4c613;
}

.content-box-lg{
    padding: 120px 0;
}

.content-box-md{
    padding: 100px 0px;
}

.vertical-heading h5{
    color: #f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 10px;
    display: inline-block;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: relative;
    top: 60px;
    left: -50px;
}

.vertical-heading h2{
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.horizontal-heading{
    margin-bottom: 80px;
}

.horizontal-heading h5{
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2{
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin: 0px;
}

#about-right p:first-child{
    margin-bottom: 30px;
}
#about-bottom{
    margin-top: 60px;
}

#about-bottom img{
    margin: 0 auto;
}

#about-2{
    background-color: #f4f4f4;
}

.about-item{
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.about-item i{
    font-size: 42px;
    margin: 0;
    margin-bottom: 10px;
}

.about-item h3{
    font-size: 28px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
}

.about-item:hover{
    background-color: #f4c613;
}

.about-item:hover i{
    transform: translateY(-15px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #f4f4f4;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item, .about-item i, .about-item hr{
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
}

.owl-carousel .owl-nav{
    text-align: center;
}

.owl-carousel .owl-nav .owl-next i, .owl-carousel .owl-nav .owl-prev i{
    font-size: 30px;
    color: #212226;
    font-weight: 200;
}

#team-left .vertical-heading{
    min-height: 160px;
}

.team-member{
    margin: 8px;
    position: relative;
}

.team-member-overlay{
    background-color: rgba(33,34,38, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

.team-member-info h6{
    color: #f4c613;
    font-size: 16px;
    margin: 0px;
}

.team-member-info p{
    color: #fff;
}

.team-member-info{
    width: 100%;
    height: 100%;
    padding: 80px 0px;
}

.team-member:hover .team-member-overlay{
    opacity: 1;
}


ul.social-list li{
    list-style: none;
    display: inline-block;
    padding: 0;
}

ul.social-list{
    padding: 0;
    margin-top: 20px;
}

ul.social-list li a{
    text-decoration: none;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
}

ul.social-list li:nth-child(1) a:hover{
    background: #3b5998;
    border-color: transparent;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

ul.social-list li:nth-child(2) a:hover{
    background: #00aced;
    border-color: transparent;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

ul.social-list li:nth-child(3) a:hover{
    background: #dd4b39;
    border-color: transparent;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

.skill{
    margin-bottom: 20px;
}

.skill h4{
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.skill .progress{
    overflow: visible;
    height: 25px;
    border-radius: 0;
    background: #efefef;
}

.progress .progress-bar{
    background-color: #f4c613;
    position: relative;
}

.progress .progress-bar span{
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans";
    padding: 3px;
    position: absolute;
    left: 97%;
    background-color: #212226;
    top: -47px;
}

.progress .progress-bar span:before{
    content: "";
    border-top: 8px solid #212226;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 23%;
}

#statement{
    background-image: url('/assets/images/tech/tech-quote.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#statement .content-box-lg{
    background: rgba(0,0,0,0.4);
}

#tech-statement h3{
    color: #fff;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p{
    font-size: 14px;
    color: #f4c613;
    font-family: "Raleway";
    margin-top: 8px;
}

#services-1 img{
    margin: 60px 0px;
}

.service {
    margin: 35px 0px;
}

.service i{
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
}

.service:hover i{
    color: #f4c613;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
}

.service h5{
    font-size: 12px;
    text-transform: uppercase;
    color: #f4c613;
    margin: 0 0 6px 0;
}

.service:hover h5{
    color: #212226;
}

.service h4{
    font-size: 24px;
    margin: 0 0 8px 0;
}

.service p{
    line-height: normal;
}

#services-2{
    background-color: #f4f4f4;
}

#services-tabs ul{
    margin-bottom: 40px;
}

#services-tabs ul li{
    padding: 5px 30px;
}

#services-tabs ul li a{
    font-family: "Raleway";
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

#services-tabs ul li.r-tabs-state-active a{
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    transition: border-color 300ms linear;
    -webkit-transition: border-color 300ms linear;
}

.service-tab .col-md-6{
    padding: 0;
}

.service-tab img{
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg{
    background: #fff;
    padding: 59px 30px;
    min-height: 469px;
}

.service-tab h2{
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3{
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p{
    line-height: 24px;
    margin-bottom: 30px;
}

#portfolio .content-box-md{
    padding: 50px 0px 0px;
}

#portfolio .vertical-heading{
    margin-bottom: 50px;
}

#portfolio-wrapper .container-fluid{
    padding: 0;
}

#isotope-filters{
    padding: 20px 25px 20px 0px;
}

#isotope-filters button{
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-transform: uppercase;
    box-shadow: none;
    padding-right: 35px;
}

#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    transition: border-color 300ms ease-in-out;
    -webkit-transition: border-color 300ms ease-in-out;
}

#isotope-filters button.active span{
    color: #f4c613;
    border-bottom: 3px solid #f4c613;
}

.portfolio-item{
    overflow: hidden;
    position: relative;
}

.portfolio-item img{
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
}

.portfolio-item:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.portfolio-item-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: zoom-in;
    -webkit-cursor: zoom-in;
    /* opacity: 0; */
    opacity: 0;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
}

.portfolio-item-overlay .portfolio-item-details{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.portfolio-item-details h3{
    color: #f4c613;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.portfolio-item-details span{
    display: inline-block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.portfolio-item:hover .portfolio-item-details h3{
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p{
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}